:root {
  --light-grey: rgb(255, 255, 255);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: auto; 
  Font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
}
@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.woff2') format('woff2'),
    url('Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
  height: 100vh;
}
.left-side {
  width: 40%;
  background-image: url(plant.avif);
  background-size: cover;
}
.logo-field {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 200px 0 0 0;
  justify-content: center;
  align-items: center;
}
.odin-logo {
  content: url(odin-lined.png);
  height: 70%;
  width: auto;
}
.logo {
  color: white;
  opacity: 1;
  font-family: 'Norse';
  font-size: 9rem;
}
.right-side {
  display: flex;

  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: var(--light-grey);
}
.right-side > div {
  display: flex;
  flex-direction: column;
  
  /* height: 100vh; */
}

.header {
  max-width: 75%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
  padding: 100px 150px 0 20px;
}
.right-top {
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 4;
}
.right-middle {
  background-color: white;
  flex: 2;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  margin: 0 0 10px;
  
}
.right-bottom {
  background-color: var(--light-grey);
  flex: 4;
}
form {
  display: flex;
  flex-wrap: wrap;
}
.form-element {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 20px;
}
#sign-up-header {
  padding: 10px 10px 10px 20px;
}
.btn {
  width: 15%;
  padding: 10px 30px 10px 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: #596d48;
  color: white;
  border: #596d48;
  box-shadow: 4px 4px lightgray;
}
.input-box {
  height: 2rem;
  width: 20rem;
  border-radius: 5px;
  appearance: textfield;
  border: 1px solid black;
}
.input-box:invalid {
  border: 2px solid rgb(183, 3, 3);
}
.input-box:focus {
  border: 2px solid blue;
  box-shadow: 3px 3px rgba(163, 162, 162, 0.5);
  outline: none;
}
.link-text{
  margin: 0 0 0 20px;
}
a {
  color: #596d48;
  
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
